/* Header */
  .logo {
    width: 26rem;
  }

  .logo__image {
    width: 24.5rem;
    padding-left: 2.5rem;
  }

  .logo__text {
    font-size: 2.4rem;
    padding-left: 2rem;
  }

  .text-box {
    left: 6rem;
  }

  .text-box__title-primary--main {
    font-size: 9rem;
    letter-spacing: 4px;
  }

  .text-box__ttitle-primary--sub {
    font-size: 3rem;
  }

  .nav {
    display: block;
  }

  .nav__icon {
    display: none;
  }

/* Section About Us */

  .about__card__image {
    flex-basis: 50%;
    width: 50%;
  }

  .about__card__text {
    flex-basis: 50%;
    font-size: 2.4rem;
  }

/* Footer */

  .footer__inner {
    flex-direction: row;
  }

  .footer__hours {
    font-size: 1.8rem;
    margin-top: 0;
  }

  .footer__logo {
    width: 28rem;
  }

  .footer__social {
    margin-top: 0;
  }

  .credits {
    font-size: 1.8rem;
  }
