/* Header */
  .logo {
    width: 24rem;
  }

  .logo__image {
    width: 21rem;
  }

  .logo__text {
    font-size: 2.1rem;
  }

  .text-box {
    left: 1rem;
  }

  .text-box__title-primary--main {
    font-size: 5.5rem;
    letter-spacing: 3px;
  }

  .text-box__title-primary--sub {
    font-size: 2.8rem;
  }
/* Section About Us */

  .about__card__text {
    font-size: 2.2rem;
  }

/* Section Products  */
  .section-title {
    font-size: 5rem;
  }

  .card__text {
    left: 25%;
  }

  .card__text--dif {
    left: 21%;
  }

/* Section Find Us */

  .find-us__text {
    font-size: 2.2rem;
  }

/* Footer */

  .footer__hours {
    font-size: 1.6rem;
  }

  .footer__logo {
    width: 24rem;
  }

  .footer__outer {
    display: flex;
    align-items: flex-end;
  }

  .credits {
    font-size: 1.6rem;
  }
